body {
  background-color: white;
  background-image: url("http://placekitten.com/g/1440/1440");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.reservo-container {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  height: 420px;
  width: 436px;
  margin-left: -218px;
  margin-top: -225px;
  background-color: hsl(0,0%,95%);
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.75), 0 0 0 99999px rgba(0,0,0,.4);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.75), 0 0 0 9999px rgba(0,0,0,.4);
  z-index: 900;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -o-transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, opacity 0.5s ease;
  -ms-transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, opacity 0.5s ease;
  -webkit-transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, opacity 0.5s ease;
  -moz-transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, opacity 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

.reservo-container * {
  box-sizing: border-box;
}

.reservo-bordvalg-active {
  width: 436px;
  margin-left: -218px;
  height: 610px;
  margin-top: -320px;
}

.reservo-container-wrapper
{
	height: 1200px;
}

.reservo-seksjon {
  margin: 20px;
}

.reservo-container header {
	position: relative;
	z-index: 10;
	background-color: #F3F3F3;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}

.reservo-container header h1 {
  font-style: italic;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.reservo-button {
  display: inline-block;
  color: hsl(0,0%,95%);
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 75%;
  border: 2px solid hsl(0,0%,4%);
  border-radius: 22px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: hsl(0,0%,4%);
  box-shadow: inset 0 0 0 2px hsl(0,0%,95%);
  letter-spacing: .04em;
  font-weight: 600;
  text-decoration: none;
}

.reservo-button:hover {
  background-color: hsl(0,0%,95%);
  color: hsl(0,0%,4%);
}

.reservo-overlay-lukk {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-image: url("assets/assets.png");
  background-position: -60px 0;
  background-repeat: no-repeat;
}

.reservo-overlay-lukk:hover {
  background-position: -60px -30px;
}

.reservo-brev {
  line-height: 2.5;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  /* Animated stuff */
  margin-top: -430px;
  width: 396px;
  float: left;
}

.reservo-brev.reservo-active
{
	margin-top: 20px;
	opacity: 1.0;
}

.reservo-container fieldset {
  padding: 20px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 5px;
  margin-bottom: 20px;
}

.reservo-brev p {
  margin: 0;
  text-align: left;
}

.reservo-brev p input {
  border: solid 1px hsl(0,0%,80%);
  padding: 5px;
  margin: 0 5px;
}

.reservo-brev p input:focus {
  border-color: hsl(0,0%,50%);
  outline: none;
}

.reservo-bord {
  float: left;
  width: 300px;
  padding: 40px 10px 10px;
  margin: 0 48px;
  position: relative;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 5px;
}

.reservo-bordvalg
{
	float: left;
	width: 396px;
}

.reservo-forrige-bord, .reservo-neste-bord {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 38px;
  height: 44px;
  background-color: hsl(0,0%,98%);
  border: 1px solid hsl(0,0%,90%);
  text-align: center;
  text-decoration: none;
  line-height: 44px;
  border-radius: 5px;
  font-weight: 600;
  color: hsl(0,0%,50%);
}

.reservo-forrige-bord:hover, .reservo-neste-bord:hover {
  background-color: white;
  box-shadow: 0 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.4);
  margin-top: -24px;
}

.reservo-forrige-bord:active, .reservo-neste-bord:active {
  box-shadow: 0 -2px rgba(0,0,0,.1);
  margin-top: -20px;
}

.reservo-forrige-bord {
  left: -48px;
}

.reservo-neste-bord {
  right: -48px;
}

.reservo-karusell-wrapper {
	overflow: scroll;
  width: 280px;
  height: 280px;
}

.reservo-karusell-wrapper::-webkit-scrollbar {
    display: none;
}

.reservo-karusell {
	width: 9999px;
  height: 280px;
	padding: 0;
  margin: 0;
}

.reservo-karusell li {
	margin-right: 20px;
	list-style-type: none;
	display: inline-block;
	float: left;
}

.reservo-karusell li:last-child {
  margin: 0;
}

.reservo-sammendrag {
  float: left;
  width: 340px;
  margin: 20px 28px 0;
}

.reservo-sammendrag .reservo-button {
  width: 100%;
}

.reservo-sammendrag fieldset {
  font-size: 13px;
  color: hsl(0,0%,50%);
  position: relative;
  padding: 10px;
  line-height: 2;
  text-align: left;
}

.reservo-sammendrag fieldset p {
  margin: 0;
}

.reservo-sammendrag fieldset span {
  display: inline-block;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
  font-size: 10px;
  background-color: hsl(0,0%,90%);
  color: hsl(0,0%,50%);
  letter-spacing: .1em;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
}

.reservo-sammendrag fieldset .reservo-rediger-markering {
  text-align: center;
  width: 100%;
}

.reservo-sammendrag fieldset:hover {
  cursor: pointer;
}

.reservo-sammendrag fieldset:hover span {
  background-color: hsl(0,0%,70%);
  color: hsl(0,0%,95%);
}

.reservo-invisible
{
	opacity: 0.0;
}