.reservoFloatLeft
{
	float: left;
}

.reservoSelectedStation img
{
	width: 280px;
	height: 280px;
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
	border: 5px solid black;
}